---
import BaseHead from '../components/BaseHead.astro';
import Navigation from "../components/Navigation.astro";
import Markdown from "../components/Markdown.astro";
import {SITE_TITLE} from '../consts';

const aboutContent = `
# Hi, :) 
# I'm David 
## Vandenbogaerde
#### or *d17e* for short.

I use **code** to turn **ideas** into **artistic expressions**.

These take the shape of **plotter drawings**, **generative design tools** or **audio visualisations**... 

Most of the time.

I also help **businesses small & large** to build better products and streamline their processes.

Sounds interesting? [Let's have a chat!](https://forms.d17e.dev/contact)

----
## What you'll find here


---
## Connect

--- 
## Site

This site is built with [Astro](https://astro.build), a modern static site generator that allows for fast, content-focused websites.

FONTS

#coding #creativity #development
`;
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={`About | ${SITE_TITLE}`} description="About the developer behind d17e.dev"/>
</head>
<body>
<Navigation/>
<main>
  <article class="about-container">
    <Markdown content={aboutContent}/>
  </article>
</main>
</body>
</html>

<style>
    .about-container {
        max-width: 800px;
        margin: 4rem auto 2rem;
        padding: 0 1.5rem;
    }

    @media (max-width: 600px) {
        .about-container {
            margin-top: 3rem;
        }
    }
</style>