---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
  <svg width="1000" height="1000">
    <rect x="10" y="10" height="100" width="100" style="stroke:#ff0000; fill: #0000ff" rx="15" ry="15"/>

    <path
            d="M 200,20 h 100 a 10,10 0 0 1 10,10 v 100 h 50 a 10,10 0 0 1 -10,10 h -140 a 10,10 0 0 1 -10,-10 v -100 a 10,10 0 0 1 10,-10 z"
            fill="blue"
    />

    <path d="M 12,10 L 38,10 Q 40,10 40,12 L 40,38 Q 40,40 38,40 L 12,40 Q 10,40 10,38 L 10,12 Q 10,10 12,10 Z" fill="orange"/>
  </svg>
</main>
<Footer/>
</body>
</html>

<style>
    rect {
        border-radius: 100px;
    }
</style>
