---
import BaseHead from '../components/BaseHead.astro';
import LandingBentoGrid from '../components/bento/LandingBentoGrid.svelte';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Navigation from "../components/Navigation.astro";
import {getCollection} from 'astro:content';

const landingPagesData = await getCollection('landingPages');
console.log('............................................', landingPagesData.length);

// Randomly select one of the available landing page configurations
const randomIndex = Math.floor(Math.random() * landingPagesData.length);
const landingPage = landingPagesData[randomIndex] || landingPagesData[0];
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Navigation/>
<main>
  <LandingBentoGrid {landingPage} client:only/>
</main>
</body>
</html>

<style>
    rect {
        border-radius: 100px;
    }
</style>