---
import BaseHead from '../components/BaseHead.astro';
import LandingBentoGrid from '../components/bento/LandingBentoGrid.svelte';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Navigation from "../components/Navigation.astro";
import {getCollection} from 'astro:content';

const landingPagesData = await getCollection('landingPages');
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Navigation/>
<main class="content-margin">
  <LandingBentoGrid landingPages={landingPagesData} client:only/>
</main>
</body>
</html>

<style>
    rect {
        border-radius: 100px;
    }
</style>