---
import BaseHead from '../components/BaseHead.astro';
import BentoBoxGrid from '../components/bento/BentoBoxGrid.svelte';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Navigation from "../components/Navigation.astro";
import {getCollection} from 'astro:content';

const landingPageData = await getCollection('landingPage');
// Get the Landing Page data

// Since it's a singleton, we take the first item
const landingPage = landingPageData[0];

// Log the data to see the structure
// console.log('Landing Page Data:', JSON.stringify(landingPage, null, 2));
console.log('Featured Posts:', landingPage.data.Posts[0]);

// Get the featured posts and articles
// const featuredPosts = landingPage.data.Posts;
// const featuredArticles = landingPage.data.Articles;
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Navigation/>
<main>
  <BentoBoxGrid svgId="bento-landing" client:load/>
</main>
</body>
</html>

<style>
    rect {
        border-radius: 100px;
    }
</style>
