---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navigation from "../components/Navigation.astro";
import LandingLogo from "../components/LandingLogo.svelte";
import NoisePlayground from "../components/NoisePlayground.svelte";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div class="statusbar"></div>
        <Navigation />
        <main class="landing">
            <LandingLogo client:only />
        </main>
    </body>
</html>

<style>
    .landing {
        width: calc(100vw - 3rem);
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
    }
</style>
