---
import BaseHead from '../components/BaseHead.astro';
import BentoBoxGrid from '../components/bento/BentoBoxGrid.svelte';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Navigation/>
<main>
  <BentoBoxGrid svgId="bento-landing" client:load/>
</main>
</body>
</html>

<style>
    rect {
        border-radius: 100px;
    }
</style>
