---
import SocialLinks from "./SocialLinks.astro";
---
<style>
    .find-me-on {
        display: flex;
        flex-direction: column;
        font-family: 'nudica_monolight', serif !important;
        font-size: 1rem;
        text-align: center;
        margin: 2rem 0;
    }
</style>
<div class="find-me-on">
  Find me on:
</div>
<SocialLinks showLinkedIn={true} showGitHub={true} showMastodon={true}/>
<div class="find-me-on">
  <a href="https://forms.d17e.dev/contact">Contact</a>
  <a href="https://forms.d17e.dev/subscribe">Subscribe</a>
</div>
