html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

blockquote div {
  line-height: 1.2rem !important;
}

::selection {
    /* orange RGB color (= dark accent color), with alpha */
    background: rgba(255, 165, 0, 0.5);
}
input:focus-visible {
    z-index: 1;
    border-color: rgba(255, 165, 0, 0.5) !important;
    box-shadow: 0 0 0 1px rgba(255, 165, 0, 0.5) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
