---
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';

const articles = (await getCollection('articles'));
---

<!doctype html>
<html lang="en">
<body>
<main>
  <section>
    <ul>
      {
        articles.map((article) => (
                <li>{article.id}
                </li>
        ))
      }
    </ul>
  </section>
</main>
</body>
</html>
